.avatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 8px;
}

.avatarWithBorder {
  /* this proeprty when we use 'initial' makes the tag use extra space when we add 'margin and padding', stuff that add extra space , 
  different from 'box-sizing' that makes the element shirink inside it's borders, with initial the element can 'grow' more */
  box-sizing: initial; 
  width: 4.8rem;
  height: 4.8rem;
  /* we can use calc to solve the problem that was resolved using 'box-sizing: initial', where we would add the values that we put for 'border' and 'outline' in our 'width' and 'height' */
  /* width: calc(4.8rem + 12px);
    height: calc(4.8rem + 12px); */
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}