.wrapper {
  max-width: 112rem; /* 1120px  */
  margin: 3.2rem auto; /* auto makes it the wrapper get centralized in the screen */
  padding: 0 1.6rem; 

  display: grid;
  /* the first column will have the size fixed in 256px and the second the '1fr' means it'll adapt to what has left in the screen space */
  grid-template-columns: 256px 1fr; 
  gap: 3.2rem;
  /* this is to make the items start from the top, and not leave them try to have the same sizes, because the default value here is 'stretch'  */
  align-items: flex-start; 
}

/* this will appply to mobile devices only */
/* This will make our page be 'responsive', because it will only have one column and the 'side bar' will stay above the 'posts' */
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}