/* here we'll declare some CSS variables for the colors that we're going to be using */
:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00B37E;
  --green-500: #00875f;

  --red-500: #F75A68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;

  /* 
    this one line below means that properties like 'margin, padding, border of the element never grow it's width and heigth, but 
    to make it squeeze the element inside his borders, to keep the component the declared size
  */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  /* 
    this line below here lets the fonts that we use more smooth, because we're not going to use fonts that are 
    default for the systems, it helps to let them with a better visual
  */
  -webkit-font-smoothing: antialiased; 
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* a note about using 'rem' 
      '1rem' means that we're using ONE metric unit relative to the default font size for html, that is 16px 
      this means the size of font will be relative to the device, and allows to if people have theis devices configured to 
      increase/decrease the font size to still do this in your website. 
   */
  font-size: 1.6rem; 
                  
}